<!-- Vendor -->
<script src="/component/porto/vendor/jquery/jquery.min.js"></script>
<script src="/component/porto/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="/component/porto/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/component/porto/vendor/jquery-cookie/jquery-cookie.min.js"></script>
<script src="/component/porto/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/component/porto/vendor/common/common.min.js"></script>
<script src="/component/porto/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="/component/porto/vendor/isotope/jquery.isotope.min.js"></script>
<script src="/component/porto/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/component/porto/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/component/porto/vendor/bootpag/bootpag.js"></script>
<script src="/component/porto-admin/vendor/pnotify/pnotify.custom.js"></script>
<!-- Theme Base, Components and Settings -->
<script src="/component/porto/js/theme.js"></script>
<!-- Theme Initialization Files -->
<script src="/component/porto/js/theme.init.js"></script>
<!-- Theme Custom -->
<script src="/component/porto/js/real-estate.js"></script>
<script src="/appRes/scripts/application.js"></script>
