<head th:fragment="head(title)">
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="XQ,SecKill,秒杀,高并发"/>
    <meta name="description" content="基于单体架构的Java高并发秒杀系统">
    <meta name="author" content="lovexq.net">
    <meta name="referrer" content="never">

    <title th:text="${title}">Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/component/porto/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/component/porto/img/apple-touch-icon.png">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, system-scalable=no">
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/simple-line-icons/2.4.0/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="/component/porto/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/component/porto/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/component/porto-admin/vendor/pnotify/pnotify.custom.css"/>
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/appRes/css/application.css">
    <link rel="stylesheet" href="/component/porto/css/theme.css">
    <link rel="stylesheet" href="/component/porto/css/theme-elements.css">
    <!-- Skin CSS -->
    <link rel="stylesheet" href="/component/porto/css/skins/skin-real-estate.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/component/porto/css/real-estate.css">
</head>