target/
src/main/resources/static../../3rd-party//porto/
src/main/resources/static../../3rd-party//porto-admin/
src/main/resources/application*.yml
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/