<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh_CN">
<!-- BEGIN HEAD -->
<head th:include="common/fgHead :: head('特价秒杀 | lovexq.net')"></head>
<!-- END HEAD -->
<body>
<!--<body class="loading-overlay-showing" data-loading-overlay>
<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>-->

<div class="body">
    <!-- BEGIN HEADER -->
    <span th:replace="common/coHeader"></span>
    <!-- END HEADER -->

    <div role="main" class="main">

        <section class="page-header page-header-light page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>特价秒杀<span class="font-red">原价几百万、几千万的房产，现在统统只要9.9，抢到即赚到</span></h1>
                    </div>
                </div>
                <div class="row mt-lg">
                    <div class="col-md-12">
                        <form id="propertiesForm" action="" method="POST">
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required="" aria-required="true">
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" value="点击搜索" class="btn btn-secondary btn-lg btn-block text-uppercase font-size-sm">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row mb-lg">
                <ul class="properties-listing sort-destination p-none">
                    <li class="col-md-4 col-sm-6 col-xs-12 p-md isotope-item" th:if="${not #lists.isEmpty(itemPage.content)}" th:each="item, itemStat : ${itemPage.content}">
                        <div class="listing-item">
                            <a href="/" class="text-decoration-none" th:href="'/estate/'+${item.houseId}">
                                <span class="thumb-info thumb-info-lighten">
                                    <span class="thumb-info-wrapper m-none">
                                        <img class="lazyload img-responsive" style="height: 240px" th:attr="data-original=${item.coverUrl}?:'/component/porto/img/blank.jpg'">
                                        <span class="thumb-info-listing-type background-color-secondary text-uppercase text-color-light font-weight-semibold p-xs pl-md pr-md" th:text="${item.saleStatus}">saleStatus</span>
                                    </span>
                                    <span class="thumb-info-price background-color-primary text-color-light text-xl p-sm pl-md pr-md">
                                        <sapn class="font-red" th:text="${item.totalPrice}+'万'">totalPrice</sapn><br/>
                                        <span class="text-sm">单价[[${item.unitPrice}]]/平米&nbsp&nbsp&nbsp&nbsp首付[[${#numbers.formatDecimal(item.totalPrice * 0.3, 1, 2)}]]万</span>
                                        <i class="fa fa-caret-right text-color-secondary pull-right"></i>
                                    </span>
                                    <span class="custom-thumb-info-title b-normal p-lg">
                                        <span class="thumb-info-inner text-md" th:text="${item.title}">title</span>
                                        <ul class="accommodations text-uppercase font-weight-bold p-none text-sm">
                                            <li><span class="accomodation-value custom-color-1" th:text="${item.model}">model</span></li>
                                            <li><span class="accomodation-value custom-color-1" th:text="${item.area}+'平米'">area</span></li>
                                            <li><span class="accomodation-value custom-color-1" th:text="${item.direction}">direction</span></li>
                                        </ul>
                                        <ul class="accommodations text-uppercase font-weight-bold p-none text-sm">
                                            <li><span class="accomodation-value custom-color-1" th:text="${item.floor}">floor</span></li>
                                            <li><span class="accomodation-value custom-color-1" th:text="${item.buildingAge}?:'暂无数据'">buildingAge</span></li>
                                            <li><span class="accomodation-value custom-color-1" th:text="${item.decoration}">decoration</span></li>
                                        </ul>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row mt-lg mb-xlg">
                <div class="col-md-12 center" id="pagination"></div>
            </div>
        </div>

    </div>

    <!-- BEGIN FOOTER -->
    <span th:replace="common/coFooter"></span>
    <!-- END FOOTER -->
</div>
<!-- BEGIN FOOT -->
<span th:replace="common/fgFoot"></span>
<!-- END FOOT -->

<!-- BEGIN PAGESCRIPT -->
<script>
    $(function () {
        // 图片懒加载
        $("img.lazyload").lazyload({
            effect: "fadeIn"
        });

        // 分页信息
        $('#pagination').bootpag({
            total: [[${itemPage.totalPages}]],
            page: [[${itemPage.number}]] + 1,
            maxVisible: 5,
            leaps: true,
            firstLastUse: true,
            first: '首页',
            last: '尾页',
        }).on('page', function (event, num) {
            window.location.href = "/estate?page=" + num;
        });
    })
</script>
<!-- END PAGESCRIPT -->
</body>

</html>