<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh_CN">
<!-- BEGIN HEAD -->
<head th:include="common/erHead :: head('500 | lovexq.net')"></head>
<!-- END HEAD -->
<!--<body>-->
<body>
<div class="body">
    <!-- BEGIN HEADER -->
    <span th:replace="common/coHeader"></span>
    <!-- END HEADER -->

    <div role="main" class="main">

        <div class="container">

            <section class="page-not-found">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="page-not-found-main">
                            <h2>500 <i class="fa fa-wrench"></i></h2>
                            <p th:text="${error}"></p>
                            <p th:text="${message}"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="heading-secondary">你可以：</h4>
                        <ul class="nav nav-list">
                            <li><a href="/">返回主页</a></li>
                            <li><a href="javascript:void(0)" onclick="history.back();">返回上一页</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>

    </div>

    <!-- BEGIN FOOTER -->
    <span th:replace="common/coFooter"></span>
    <!-- END FOOTER -->
</div>
<!-- BEGIN FOOT -->
<span th:replace="common/erFoot"></span>
<!-- END FOOT -->
</body>

</html>